@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --bg: #0c0f0a;
  --primary: #f8f8f8;
  --secondary: #d1d1d1;
  --highlight: #41ead4;
  --card: #ffffff08;
  --icon-bg: #9e6e6e1a;
  --icon-bg-hover: #ffffff1c;
}

body {
  background-color: var(--bg);
  font-family: "Poppins", sans-serif;
  color: var(--secondary);
  min-height: 100vh;
}

.highlighted {
  color: var(--highlight);
}

.highlighted_bg {
  background-color: var(--highlight);
}

.primary {
  color: var(--primary);
}

.main_card {
  background-color: var(--card);
  padding: 20px;
  border-radius: 5px;
  max-width: 94%;
  margin: 90px auto;
}

.main_card .social_icons {
  position: absolute;
  right: 20px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.main_card .social_icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px;
  border-radius: 5px;
  background-color: var(--icon-bg);
  -webkit-transition: 0.1s ease;
  transition: 0.1s ease;
}

.main_card .social_icons a svg {
  width: 20px;
  height: 20px;
  color: var(--primary);
}

.main_card .social_icons a:hover {
  background-color: var(--icon-bg-hover);
}

.main_card .container {
  width: 98%;
  margin: 0 auto;
}

.main_card .container h1 {
  font-weight: 600;
  font-size: 22px;
  margin: 15px 0 0;
}

.main_card .container .divider {
  height: 3px;
  width: 70px;
  margin: 8px 0 25px;
}

.main_card .container .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
}

.main_card .container .description p {
  font-size: 17px;
  line-height: 1.6;
}

.main_card .container .projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  gap: 30px;
  margin-bottom: 20px;
}

.main_card .container .projects .project {
  display: block;
  border-radius: 5px;
  width: 50%;
  min-width: 126px;
  max-width: 156px;
  height: 100px;
}

.main_card .container .projects .project a {
  display: block;
  height: 100%;
  width: 100%;
}

.main_card .container .projects .project a img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
